---
const { title } = Astro.props;
---

<figure
    title={title}
    class="col-span-1 group transition-all dark:text-neutral-400 dark:hover:text-white text-neutral-600 hover:text-neutral-950"
>
    <div class="w-14 mx-auto">
        <slot />
    </div>
    <div
        class="text-center group-hover:opacity-90 transition-opacity opacity-0 font-medium text-sm tracking-tight py-3"
    >
        {title}
    </div>
</figure>
