<section class="h-screen relative flex items-center max-w-[1000px] mx-auto">
    <div
        class="p-0 h-full text-center max-w-full page_center__diPtZ max-[700px]:after:hidden"
    >
        <div class="flex items-center flex-col justify-center w-full gap-4">
            <div class="flex flex-col -z-10 gap-3 max-[700px]:px-2">
                <h1
                    class="font-extrabold relative max-[700px]:text-7xl inline-block tracking-tighter text-transparent text-8xl bg-clip-text bg-gradient-to-b dark:from-purple-200 dark:to-purple-700"
                >
                    <span>{"¡Hola!"}</span>
                    <span class="shake-left-right inline-flex">
                        <img
                            src="/wave.png"
                            alt="Wave Icon"
                            width={80}
                            height={80}
                        />
                    </span>
                    <span>{", soy Stalin R. Diloné"}</span>
                </h1>
                <h2
                    class="dark:text-gray-400 text-gray-700 tracking-tight font-semibold text-2xl"
                >
                    {"Desarrollador Full Stack de JavaScript"}
                </h2>
            </div>
        </div>
    </div>
</section>
