---
import NavItem from "./NavItem.astro";
---

<nav class="my-10 max-[800px]:hidden">
    <ul class="flex flex-row gap-4 text-lg font-semibold">
        <NavItem href="#about" label="Acerca" />
        <NavItem href="#projects" label="Proyectos" />
        <NavItem href="#skills" label="Habilidades" />
    </ul>
</nav>
