<footer
    class="py-9 w-full border-t dark:border-t-neutral-900 border-t-neutral-300"
>
    <div
        class="flex items-center justify-center h-full mx-auto w-[600px] max-w-full"
    >
        <div class="flex flex-col gap-2">
            <p
                class="mt-2 text-sm leading-normal dark:text-gray-400/60 text-gray-900/80 dark:text-gray-400"
            >
                Esta página web ha sido desarrollada con fines educativos y de
                aprendizaje. Todos los derechos y créditos pertenecen a{" "}
                <a
                    class="font-semibold hover:underline hover:text-purple-200 text-neutral-50"
                    href="https://github.com/daustinndev"
                    target="_blank"
                >
                    daustinndev
                </a>. Además, se ha utilizado la tecnología de <a
                    class="font-semibold hover:underline hover:text-purple-200 text-neutral-50"
                    href="https://astro.build/"
                    target="_blank">Astro</a
                > para su creación y <a
                    class="font-semibold hover:underline hover:text-purple-200 text-neutral-50"
                    href="https://tailwindcss.com/"
                    target="_blank">Tailwind CSS</a
                > para el diseño.
            </p>
        </div>
    </div>
</footer>
