---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		scroll-behavior: smooth;
	}

	:root {
		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 214, 219, 220;
		--background-end-rgb: 255, 255, 255;
		--font-inter: 'Inter var';
		--body-background: #f6f6f6;
		--primary-glow: radial-gradient(
			rgba(196, 1, 255, 0.3),
			rgba(255, 175, 1, 0)
		);
		--scrollbar-tumbl: #b3b3b369;
		--gradient-title-custom: linear-gradient(#151414, #5e0c7300);
		--shadow-cursor: 196, 1, 255, 0.15;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--foreground-rgb: 255, 255, 255;
			--background-start-rgb: 0, 0, 0;
			--background-end-rgb: 0, 0, 0;
		}
	}

	body {
		color: rgb(var(--foreground-rgb));
		background: rgb(var(--background-start-rgb));
		font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
			BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
			"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol", "Noto Color Emoji";
	}

	.page_center__diPtZ {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.page_center__diPtZ::before {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}
.page_center__diPtZ::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.page_center__diPtxZ {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.page_center__diPtxZ::before {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 780px;
  height: 460px;
  margin-left: -400px;
}
.page_center__diPtxZ::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  background: var(--primary-glow);
  width: 440px;
  height: 280px;
  z-index: -1;
}

.shake-left-right {
  animation: shake-left-right 1.5s linear both;
  animation-iteration-count: infinite;
}
@keyframes shake-left-right {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}
@keyframes shake-left-2 {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}

</style>
